@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --animate-fade-in-up: fade-in-up 1s ease-out forwards;

    @keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    }
    
    --animate-fade-in-down: fade-in-down 1s ease-out forwards;
    @keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    }
    
}

@layer utilities {
    .animate-fade-in-up {
        animation: var(--animate-fade-in-up);
    }
    
    .animate-fade-in-down {
        animation: var(--animate-fade-in-down);
    }

    .delay-300 {
        animation-delay: 300ms;
    }
    .delay-500 {
        animation-delay: 500ms;
    }
    .delay-700 {
        animation-delay: 700ms;
    }
    .delay-900 {
        animation-delay: 900ms;
    }
}

